.container {
    padding: 10px;
    margin: 0 auto;
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
    border: 10px solid gray;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px dashed gray;
    background: lightgrey;
}

.button {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    background: lightgrey;
    box-shadow: 2px 2px 2px rgba(255, 255, 255);
}